/* $Id: local.css,v 1.1 2011/04/19 09:45:00 tregeagle Exp $ */
 
/****************************/
/* LOCAL CSS                */
/****************************/
 
/* Put your custom css and css overrides in this file and  */ 
/* rename it local.css.  By restricting your css changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.               */

/* Steps to activate local.css:                       */
/* 1. Add your custom css to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Uncomment (remove leading semicolon from ) the  */ 
/*    following line in your theme's .info file:      */
/*    ;stylesheets[all][] = local.css                 */
/* 4. Clear cached data at admin/settings/performance */

/* Header regions
-------------------------------------------------------------- */
#tbar {
 background-color: #0F7FD3;
 background: url(images/bg-banner3.jpg) repeat-x;
 height: 80px;
 width: 100%;
}
#tbar-wrapper {
background: url(images/tbar_bg.jpg) no-repeat;
}
#header {
height: 78px;
position: relative;
width: 100%;
margin: 0 auto;
}

#header-middle {
    float: right;
    padding-top: 3em;
    visibility: hidden;
}

#header-first {
float: right;
}

.logo {
 padding: 0 0 0 0;
 line-height: 0;
}

.logo img {
 height: 80px;
}

.logo-name {
 display: inline; 
 font-weight: bold;
 font-size: 1.8em;
 padding-left: 14em;
 position: relative;
 font-family: Helvetica,Arial,sans-serif;
 font-style: italic;
 color: #fff;
 letter-spacing: 0.1em;
 white-space:nowrap;
}

.logo-name a, .logo-name a:visited, .logo-name a:active {
 color: #fff;
 text-decoration: none;
}

.logo-name a:hover, .logo-name a:focus {
 color: #FFC918;
 text-decoration: none;
}


/* gallery slideshow
-------------------------------------------------------------- */

.content-top  {
 margin: 0 0 1.2em;
 padding-left: 0;
 padding-right: 1.2em;
 padding-top: 0;
 padding-bottom: .5em;
 border: 0;
 background: none;
 height: 315px
}
.views-content-title{
 height : 50px;
 margin : 0 0 -50px 0;
 padding : 0;
 position:relative;
 float: left;
 left:0;
 top:266px;
 z-index:9;
 background-image:url('images/mission-bg.png');
 background-repeat:none;
}
.gallery-slideshow-overlay {
 position:relative;
 padding: 5px 9px 5px 9px;
}

/* slideshow + Preface top + Slideshow
-------------------------------------------------------------- */

#slideshow-wrapper{
 width:70%;
 float:left;
 background: none;
 height:369px; 
 margin-bottom:-45px;
 margin-top:0px;
}

.slideshow-inner{
 width:100%;
 margin:0 auto;
 height:315px;
 position:relative;
 z-index:1;
 overflow: hidden;
}

#slideshow-preface {
 float:left;
 position:absolute;
 text-align:left;
 z-index:4;
}

.slideshow {
 width:630px;
 height:315px;
 position:relative;
 z-index:2;
 overflow: hidden;
}

#slideshow-bottom{
 width:630px;
}

/* Feature panel + Blocks
----------------------------------------------------------*/
#introbar {
 width:950px;
 margin: 0 auto 0;
 position: relative;
}
#introbar-wrapper {
 height:315px;
 border-bottom: 1px solid #BBB;
}
#feature-panel {
 width:30%;
 float: right;
/*background: transparent url(images/slideshow-shadow.gif) no-repeat center bottom;*/
 height:290px;
 margin-bottom:-45px;
 margin-top:14px;
}
#sidebar-left h2.block-title,
#sidebar-right h2.block-title {
 background: url("images/menu-bg-yellow.png") repeat-x scroll 0 0 transparent;
 color : #0044fa;
margin:0;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
font-size: 1.3em;
border-right: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
}
#sidebar-left .block-content,
#sidebar-right .block-content {
background-color: #fff;
border-right: 1px solid #bbb;
border-bottom: 1px solid #bbb;
border-left: 1px solid #ddd;
border-top: 1px solid #ddd;
}
#sidebar-side-1 #sidebar-right {
 width: 28%;
 float: right;
 padding-right : 8px;
}
#sidebar-right .block-content {
 background-color: #fff;
 margin:0;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 10px;
 font-size: 1em;
 border: 1;
}
.views-field-field-news-image-fid  {
 float : left;
 padding-right : 10px;
}
ul li, ul.menu li, .item-list ul li, li.leaf {
 background:none;
 list-style-image: none;
 list-style-type: none;
 padding: 0 0 0.8em 0;
}
.view-news-summary-0 li .views-field-title  {
 background : transparent url(images/block-title.png) no-repeat top right;
 padding: 0 25px 0 0;
}
#block-views-slideshow1-block_1 {
 margin:20px 0 30px 0; 
 padding: 25px 15px 25px 15px;
 border-style:solid;
 border-width:0;
 }

#views_slideshow_singleframe_teaser_section_slideshow1-block_1 {
top: 15px;
}
#sidebar-left .block-content-inner, #sidebar-right .block-content-inner {
    margin: 0;
    padding: 5px;
}
div.view-gallery div.views-field-field-gallery-image-fid img {
    border: 0;
}

/* Subject Specific Blocks
-------------------------------------------------------------- */
#sidebar-right #block-views-news_summary-block_1 h2.block-title {
}


/* Menu
-------------------------------------------------------------- */
#menu {
 height: 35px;
 background:url(images/menu-bg-yellow.png) repeat-x;
 width:952px;
}
#block-menu-primary-links .content ul.menu li {
 float : right;
 list-style-type : none;
 margin : 0px 9px 0px 1px;
 padding : 0px;
}
ul.menu li {
 line-height : 1em;
}
#mbar {
 height: 35px;
 width: 100%;
 background:url(images/menu-bg-yellow.png) repeat-x;
}
#superfish .menu a, #superfish .menu a:visited  {
 color: #19517b; 
}
#nav li a:hover {
 background:transparent url(menu-bg-yellow.png) repeat-x;
}

#superfish .menu li:hover {
 background:transparent url(images/menu-hover-bg-yellow.png) repeat-x;
}

#superfish .menu li.active-trail {
 background:transparent url(images/menu-hover-bg-yellow.png) repeat-x;
}

/* The drop menu
---------------------------------------------------------------*/
#superfish .menu li li {
 background: #FFBF0F;
}
#superfish .menu li li li {
 background: #FFBF0F;
 top: 0px;
}
#superfish .menu li.active-trail li {
 background: #FFBF0F;
}

#superfish .menu li li:hover {
 background: #FFBF0F;
}

#superfish .menu li li li:hover {
 background: #FFBF0F;
}

/* Content
------------------------------------------*/
#wrapper {
 border: 1px solid #BBB;
 border-top:none;
 margin: 0 auto 10px;
 background-color: #f4f4f4;
}
#content {
 background-color: #fff;
 border-right: 1px solid #bbb;
 border-bottom: 1px solid #bbb;
 border-left: 1px solid #ddd;
 border-top: 1px solid #ddd;
}
.sidebars-1 #content {
 float : left;
 margin : 0 0 8px 8px;
 width : 69%;
 padding : 0;
}
div.content-middle {
 width: 85%;
 margin: 1.8em 3em 0 3em;
}
.node {
    border-bottom: 0;
    margin: 0.5em 0 1em;
    padding-bottom: 1em;
}

/* Gallery
-------------------------------------------*/
#uvnsw-gallery td div.gallery {
  position : relative;
  height : 200px;
  width : 275px;
  margin : 5px;
  background-image : url(images/noimages.png);
}

#uvnsw-gallery td div.gallery div.uvnsw-gallery-title {
  position : absolute;
  top : 0;
  text-align : center;
  z-index : 1;
  background-image : url(images/mission-bg.png);1
  width : 100%;
  font-size : 1.2em;
  font-weight : 800;
  font-style : italic;
  letter-spacing: 2px;
  line-height:110%;
  padding : .3em 0 .3em 0;
}

#uvnsw-gallery td div.gallery div.uvnsw-gallery-title a {
  width : 100%;
  height : 100%;
}

#uvnsw-gallery td div.gallery div.view-uvnsw-pictures {
  position : absolute;
  top:0;
}

#uvnsw-gallery td div.gallery div.view-uvnsw-pictures .views-field-title {
  position : absolute;
  bottom : 5px;
  background-image : url(images/mission-bg.png);
  width : 100%;
  font-size : 1em;
  font-weight : 500;
  padding : .2em 1em .2em 1em;
}

tr td, tr th {
    border: 0;
    padding: 0 6px;
}
.views-view-grid .node {
 border-bottom: 0;
}

/* Additional Galleries
---------------------------------------*/
/*.view-id-gallery.view-display-id-node_content_1 td { 
 position : relative; 
}
.view-id-gallery.view-display-id-node_content_1 td > div { 
 position : absolute; 
}
.view-id-gallery.view-display-id-node_content_1 td > *  {
 width : 200px; 
 height : 150px; 
}
.view-id-gallery.view-display-id-node_content_1 td {
 vertical-align : top; 
}*/

.view-id-gallery.view-display-id-node_content_1 td {
 height : 160px;
}

.view-id-gallery.view-display-id-node_content_1 td {
 width : 200px; 
 height : 160px;
 vertical-align : top;
 padding : 5px;
}

.view-id-gallery.view-display-id-node_content_1 td .views-field-field-gallery-image-fid {
 width : 200px; 
 height : 150px; 
 margin-bottom : -150px; 
}

.view-id-gallery.view-display-id-node_content_1 td .views-field-field-gallery-image-fid img {
 margin : 0;
 padding : 0;
}

div.view-gallery div.views-field-title span.field-content, div.view-gallery div.views-field-created span.field-content {position : absolute;
  top : 0;
  text-align : center;
  z-index : 1;
  background-image : url(images/mission-bg.png);1
  width : 100%;
  font-size : 1.2em;
  font-weight : 800;
  font-style : italic;
  letter-spacing: 2px;
  line-height:110%;
  padding : .3em 0 .3em 0;
}

/* WebLinks
-----------------------------------------*/
.weblinkCat, .weblinks h2.title {
 font-size : 1.2em;
 color : #1A4148;
}
html.js .weblinkCat fieldset.collapsible legend a {
 font-size: small;
 font-style: italic;
 font-variant: small-caps;
 letter-spacing: 2px;
}

/* Bottom of content
-----------------------------------------*/
div.sponsors {
 width : 810px;
 margin : 0 auto;
}
div.sponsors img {
 padding : 0 10px 0 0;
}
#bottom-wrapper  {
 width : 950px;
 margin : 0 auto;
}
#bottom-wrapper.in1 .column {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#bottom-wrapper.in1 .column #block-menu-primary-links .content ul.menu  {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#bottom-wrapper.in1 .column #block-menu-primary-links .content ul.menu li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}
#bottom-wrapper.in1 .column ul li.leaf a, ul li.expanded a, ul li.collapsed a  {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.3em;
}

#bottom-wrapper.in1 .column ul li.leaf a, ul li.expanded a, ul li.collapsed a:hover {
   
}
#bottom-wrapper.in1 .column ul li.leaf a, ul li.expanded a, ul li.collapsed a.active,
#bottom-wrapper.in1 .column ul li.leaf a, ul li.expanded a, ul li.collapsed a.active:hover {
   font-weight:bold;
}

/* Shunt the footer down to the bottom
------------------------------*/
* {
 margin: 0;
}
html, body {
 height: 100%;
}
.wrapall {
 min-height: 100%;
 height: auto !important;
 height: 100%;
 margin: 0 auto -14em;
}
.push, #footer-wrapper {
 height: 14em;
 }

#footer-wrapper {
 width: 100%;
 position: relative;
 background: url("images/bg-footer-blue.png") repeat-x;
}

/* Footer region
-------------------------------------------------------------- */
#footer {
 text-align: left;
 width: 950px;
 margin: 0 auto;
 font-size: 12px;
 border-top: 0px none;
 padding-top:5px;
 padding-bottom:5px;
 height: 14em;
 background: url("images/bg-footer.png") no-repeat;
 background-position: center right;
}
.footer-content {
 padding-right:200px;
}
.footer-content .block {
 float : left;
 width : 370px;
}
#footer-message {
 color : #fff;
 float : right;
 padding : 15px 0 5px 5px;
}
#footer-message a:link, #footer-message a:visited {
 color : #fff;
}
#footer-message a:hover {
 color : #fcc;
 visibility : visible;
}
